.bio {
    font-size: calc(13px + 1vw);
    font-weight: 550;
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
}

.firstPara::first-letter {
    font-family: 'Rye', cursive;
    font-size: 80px;
    font-weight: 400;
    float: left;
    line-height: 60px;
    padding: 4px 8px 0 3px;
}