.products {
    width: 700px;
    margin: 0 auto;
}

.beers {
    border-top: 5px solid black;
    display: flex;
    justify-content: center;
    height: 550px;
}

.beers * {
    margin: 0 auto;
}

.adventure {
    border-top: 5px solid black;
}