.compact {
    background-image: url('./assets/cloth.png');
    background-size: 100% 100%;
    width: 200px;
    height: 500px;
    text-align: center;
}

.compact:hover {
    width: 220px;
    height: 520px;
}

.banner {
    z-index: 1;
    background-image: url('./assets/cloth.png');
    background-size: 100% 100%;
    background-color: white;
    width: 200px;
    height: 500px;
    text-align: center;
    box-shadow: 20px 20px 10px black;
}

.image {
    height: 39%;
    padding-top: 60px;
}



