.navBody {
    width: 99vw;
}

.navShow {
    display: flex;
}

.navHide {
    display: none;
}

.logo {
    width: 150px;
    padding: 10px 0 0 10px;
}

.menu * {
    padding: 0 10px 0 10px;
    font-size: 40px;
    font-weight: 550;
}

.menu {
    display: flex;
    margin: 0 auto;
    height: 80px;
}
