.navBody {
    width: 99vw;
    font-size: 40px;
}

.navShow {
    display: flex;
}

.navHide {
    display: none;
}

.logo {
    width: 200px;
    padding: 0 30px 0 30px;
}

.menu {
    border-bottom: 3px solid black;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: flex-end;
    height: 150px;
}
