* {
    padding: 0;
    border: 0;
}

button {
    border: none;
    background: none;
}

body {
    background-image: url('./paper.jpg');
    background-size: 100vw 100vh;
    font-family: 'Cormorant Infant', serif;
}

.waxStamp {
    filter: drop-shadow(1px 1px 1px black);
    z-index: -1;
    width: 200px;
    position: absolute;
    left: calc(100vw - 250px);
    top: calc(100vh - 220px);
}