nav {
    display: none;
}

ul {
    list-style-type: none;
}

.navShow {
    display: flex;
    justify-content: space-evenly;
    max-width: 900px;
    margin: 75px auto 75px auto;
    height: 40px;
}

.navShow * {
    width: 153px;
}

.navHide {
    display: none;
}

.logo {
    position: relative;
    top: -70px;
    width: 150px;
    height: 175px;
}


