nav {
    text-align: center;
    padding: 10px;
}

button {
    border: none;
    background: none;
    color: black;
    font-size: 30px;
}

button:hover {
    font-weight: 700;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.logo {
    margin-top: 5px;
    width: 125px;
}

.menuIcon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0px 0px 20px;
}

.menuHide {
    display: none;
}


