.banner {
    background-image: url('./assets/cloth.png');
    background-size: 100% 100%;
    width: 200px;
    height: 500px;
    margin: 15px;
    text-align: center;
}

.image {
    position: relative;
    top: 30%;
    left: 38%;
    transform: translate(-50%, -50%);
    height: 30%;
    filter: opacity(30%);
}

.name {
    padding-top: 25px;
}

.desc {
    padding-top: 100px;
}
