.banner {
    background-image: url('./assets/cloth.png');
    background-size: 100% 100%;
    width: 200px;
    height: 500px;
    filter: drop-shadow(2px 2px 0 red)
        drop-shadow(-2px 2px 0 red)
        drop-shadow(2px -2px 0 red)
        drop-shadow(-2px -2px 0 red)
        drop-shadow(5px 5px 3px black);
    margin: 10px;
}

.image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    filter: opacity(30%);
}
